In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/bigearthnet_dataset.csv')
print(df.shape)
df.head()

(590326, 7)

,name,labels,tile,date,patch_col,patch_row,val
0,S2B_MSIL2A_20180204T094159_69_59,Seasonal snow|Coniferous forest|Water bodies,N0206_R036_T35VNJ,20180204T094159,69,59,0
1,S2A_MSIL2A_20170701T093031_81_2,Coniferous forest|Transitional woodland/shrub|...,N0205_R136_T35VPK,20170701T093031,81,2,0
2,S2A_MSIL2A_20180527T093041_29_82,Non-irrigated arable land|Broad-leaved forest|...,N0206_R136_T35VPK,20180527T093041,29,82,0
3,S2A_MSIL2A_20180413T095031_88_45,Non-irrigated arable land|Land principally occ...,N0206_R079_T34UEG,20180413T095031,88,45,0
4,S2B_MSIL2A_20170808T094029_22_3,Coniferous forest|Mixed forest,N0205_R036_T35ULA,20170808T094029,22,3,1

In [3]:
df.groupby(['tile', 'date']).count().reset_index().tile.value_counts()

N0205_R136_T35VPK    5
N0206_R036_T35VNJ    5
N0206_R037_T29SND    4
N0206_R036_T35VNK    3
N0206_R136_T35VPH    3
N0206_R079_T33TXN    3
N0206_R036_T35WPP    3
N0205_R136_T35UMB    3
N0205_R022_T34WFS    3
N0205_R037_T29SNB    3
N0206_R123_T29UPU    3
N0206_R036_T35WPN    3
N0206_R051_T31UER    3
N0206_R122_T33UWQ    3
N0205_R036_T34TCR    3
N0206_R122_T33TWN    2
N0206_R136_T35VPK    2
N0206_R079_T33TWN    2
N0205_R036_T35ULB    2
N0205_R136_T35UMA    2
N0205_R022_T34VER    2
N0205_R093_T34TFN    2
N0205_R079_T33UXP    2
N0205_R065_T34VDR    2
N0206_R136_T34TEP    2
N0206_R122_T33TWM    2
N0205_R136_T34TEQ    2
N0206_R037_T29SNC    2
N0206_R036_T35VNH    2
N0205_R008_T31UGR    2
                    ..
N0206_R136_T34TEQ    1
N0206_R065_T34WFV    1
N0205_R079_T35VNL    1
N0205_R022_T34VDN    1
N0205_R036_T35ULA    1
N0206_R022_T34WFT    1
N0206_R122_T34VDM    1
N0205_R036_T35VNL    1
N0205_R036_T35VLC    1
N0206_R065_T34VDN    1
N0205_R136_T35VPH    1
N0205_R080_T29UPU    1
N0206_R023_T29UNB    1
N0206_R122_T33UXQ    1
N0205_R122_T35WPR    1
N0206_R036_T35VLC    1
N0205_R136_T35VNH    1
N0205_R051_T31UER    1
N0206_R136_T34TEN    1
N0206_R079_T34UEG    1
N0206_R036_T35VNL    1
N0206_R122_T34WFS    1
N0205_R080_T29UPA    1
N0205_R023_T29UPB    1
N0205_R079_T33TXN    1
N0206_R022_T34VDR    1
N0206_R022_T34WFS    1
N0206_R093_T34TFN    1
N0206_R122_T35WPR    1
N0205_R022_T34VDM    1
Name: tile, Length: 95, dtype: int64

In [12]:
df['patch_col'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90])

In [13]:
df['patch_row'].sort_values().unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90])

In [4]:
df.val.value_counts(normalize=True)

 0    0.788469
 1    0.195810
-1    0.015720
Name: val, dtype: float64

In [5]:
snow_df = pd.read_csv('../data/raw/patches_with_seasonal_snow.csv', header=None)

In [6]:
len(snow_df)/len(df)

0.10453037813005017